<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Om sidan | DT207G - labb 1
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="grid-container">

        <header>
            <div class="menu-container">
                <nav>
                    <ul>
                        <li><a href="/">Mina kurser</a></li>
                        <li><a href="/addcourse">Lägg till kurs</a></li>
                        <li><a href="/about" class="active">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

            <h1>Om sidan</h1>

            <div class="text-container">
            <p> sfjsdf ölksjdfö adslj sdfljds af ölsjdf ldskjf  ljdfs lsdakjf ö j
                sjdfö adsj lkjf asldkjfl ljs flsjakdf  lasjf laskj ljds flkdsjf  lasjf 
                 adsljkf asd lksjdf asdlkjf lasdfkj asd lsfj sdlkjf löasjdf lkadsjf ä.
            </p>
            </div>
        </main>
    </div>
</body>

</html>