<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Om sidan | DT207G - labb 1
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="grid-container">

        <header>
            <div class="menu-container">
                <nav>
                    <ul>
                        <li><a href="/">Mina kurser</a></li>
                        <li><a href="/addcourse">Lägg till kurs</a></li>
                        <li><a href="/about" class="active">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

            <h1>Om sidan</h1>

            <div class="text-container">
            <p> I den första laborationen för kursen DT207G, Backend-baserad webbutveckling har NodeJs, Express, Ejs och Nodemon använts för att ansluta till en relationsdatabas skapad med SQLite3.
                Från en vy skickas data via ett formulär, lagras i databasen och läses ut i en tabell.
                Det går även att radera data. SQL-frågor som SELECT, INSERT OCH DELETE har använts tillsammans med parametrerade frågor samt kontroll av input i formulärfält.
                Ett ER-diagram med en tabell har skapats i drawio och ett GitHub-repo har initierats.
                Jag tycker att uppgiften har varit kul och utvecklande men fastnade i att utveckla sidan för att uppdatera data.
                Stylingen försvann mystiskt och jag tog därför bort sidan men gör ett nytt försök igen i nästa laboration.
            </p>
            </div>
        </main>
    </div>
</body>

</html>