<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Lägg till kurser | DT207G - labb 1
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="grid-container">

        <header>
            <div class="menu-container">
                <nav>
                    <ul>
                        <li><a href="/">Mina kurser</a></li>
                        <li><a href="/addcourse" class="active">Lägg till kurs</a></li>
                        <li><a href="/about">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

            <h1>Lägg till kurs</h1>

            <div class="form-container">
                <form method="post">                
                    <!-- Kontroll av korrekt ifyllt formulär -->
                    <% if(error !=="" ) { %>
                        <p class="error">
                            <%=error %>
                        </p>
                        <% } %>
                            <label for="coursecode">Kurskod:</label>
                            <br>
                            <input type="text" id="coursecode" name="coursecode">
                            <br>
                            <label for="coursename">Kursnamn:</label>
                            <br>
                            <input type="text" id="coursename" name="coursename">
                            <br>
                            <label for="progression">Progression:</label>
                            <br>
                            <input type="text" id="progression" name="progression">
                            <br>
                            <label for="syllabus">Syllabus</label>
                            <br>
                            <input type="text" id="syllabus" name="syllabus">
                            <br>
                            <input type="submit" value="Lägg till kurs" class="button">
                </form>
            </div>
        </main>
    </div>
</body>

</html>