<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | DT207G - labb 1
    </title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="grid-container">
        <header>
            <div class="menu-container">
                <nav>
                    <ul>
                        <li><a href="/" class="active">Mina kurser</a></li>
                        <li><a href="/addcourse">Lägg till kurs</a></li>
                        <li><a href="/changecourse">Ändra kurs</a></li>
                        <li><a href="/about">Om sidan</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>

            <h1>Mina kurser</h1>

            <!--Tabell med statisk data-->
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Kurskod</th>
                            <th>Kursnamn</th>
                            <th>Progression</th>
                            <th>Syllabus</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>DT207G</td>
                            <td>Backend-baserad webbutveckling</td>
                            <td>B</td>
                            <td><a target="_blank"
                                    href="https://www.miun.se/utbildning/kursplaner-och-utbildningsplaner/DT207G/">Beskrivning</a>
                            </td>
                            <td><button type="button" class="button">Ändra</button>
                                <button type="button" class="button">Radera</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>

</html>